.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 5px 20px;
}

.logo-name{
    color: white;
    font-size: 27.5px;
    font-weight: 300;
    cursor: pointer;
}

.logo-img img{
    width: 75px;
    height: 62.5px;
    margin-right: -2.5px;
    cursor: pointer;
    box-shadow: -1.25px 0 1px 0 rgb(106, 106, 106);
}

.nav-links{
    margin-right: 710px;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    margin-right: 37.5px;
}

.nav-cart-btn button{
    background-color: rgb(255, 187, 0);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;  
    border-radius: 5px;
    border: none;  
    font-size: 20px;
    cursor: pointer;
}

.cart-img img{
    width: 20px;
    margin: 7.5px 5px 0 0;
}



