<!-- Navbar -->
<nav class="navbar">
   <div class="logo-name">
        <p routerLink="/">Pizzeria</p>
    </div>

    <div class="logo-img">
        <img src="assets/images/PIZZERIA-LOGO.png" title="pizzeria logo" routerLink="/">
    </div>
    
    <div class="nav-links">
        <a routerLink="/order-pizza">Order Pizza</a>
        <a routerLink="/build-pizza">Build Ur Pizza</a>
   </div>

   <div class="nav-cart-btn">
    <button routerLink="/cart">
        <div class="cart-img">
            <img src="assets/images/cart-white.png" title="cart image">
        </div> 
        Shopping Cart 
        <span class="cart-count">
            {{ cartService.getCartCount() }}
        </span>
    </button>
   </div>
</nav>
