<form #loginForm="ngForm" (ngSubmit)="login()">
    <div class="login-container">
        <div class="login-box">
            <h1>Login</h1>
            <p class="subtitle">
                Welcome back to Pizzeria!
            </p>

            <input type="email" name="email" placeholder="Email" [(ngModel)]="email" #emailCtrl="ngModel" required email>

            <div class="error" *ngIf="emailCtrl.invalid && emailCtrl.touched">
                <p *ngIf="emailCtrl.errors?.['required']">
                    Email is required.
                </p>

                <p *ngIf="emailCtrl.errors?.['email']">
                    Please enter a valid email.
                </p>
            </div>

            <input type="password" name="password" placeholder="Password" [(ngModel)]="password" #passwordCtrl="ngModel" required minlength="6">

            <div class="error" *ngIf="passwordCtrl.invalid && passwordCtrl.touched">
                <p *ngIf="passwordCtrl.errors?.['required']">
                    Password is required.
                </p>

                <p *ngIf="passwordCtrl.errors?.['minlength']">
                    Password must be at least 6 characters.
                </p>
            </div>

            <p class="error" *ngIf="errorMessage">
                {{ errorMessage }}
            </p>

            <button type="submit" [disabled]="loginForm.invalid">Login</button>

            <p class="switch">Don't have an account?
                <a routerLink="/signup">Sign Up</a>
            </p>
        </div>
    </div>
</form>