<div class="cart-container">
  <div class="cart-left">
    <h2 class="cart-heading">My Cart</h2>

    <div class="cart-item" *ngFor="let item of cartItems">
      <img class="pizza-image" [src]="item.pizza.image">

      <div class="pizza-type">  
      <img [src]="getType(item.pizza)">
      </div> 

      <div class="details">
        <h4>{{ item.pizza.name }}</h4>

        <p>{{ item.pizza.price | currency:'INR' }}</p>
      </div>

      <div class="quantity">
        <button (click)="decrease(item)">-</button>

        <span>{{ item.quantity }}</span>

        <button (click)="increase(item)">+</button>
      </div>

      <div class="price">
        {{ getItemTotal(item) | currency:'INR' }}
      </div>

      <div>
         <img class="delete" (click)="remove(item)" src="../../assets/images/dustbin.png">    
      </div>
    </div>

    <div class="subtotal">
      <strong>
        Sub Total :
        {{ getPizzaTotal() | currency:'INR' }}
      </strong>
    </div>
  </div>

  
  <div class="summary">
    <h3>The total amount of</h3>

    <div>
      Pizza
      <span>{{ getPizzaTotal() | currency:'INR' }}</span>
    </div>

    <div>
      Ingredients
      <span>{{ getIngredientTotal() | currency:'INR' }}</span>
    </div>

    <div class="ingredient-dropdown-summary">
      <button
          class="ingredient-btn"
          (click)="showIngredients = !showIngredients">
          View Ingredients ▼
      </button>
      
      <div *ngIf="showIngredients" class="ingredient-content">
          <div *ngFor="let item of cartItems">
              <h2>{{ item.pizza.name }} - </h2>
              <ul>
                <li *ngFor="let ing of item.extraIngredients">
                    {{ ing.tname }} - {{ ing.price | currency:'INR' }}
                </li>
              </ul>
              <h2 *ngIf="item.extraIngredients.length===0">No Extra Ingredients</h2>
          </div>
      </div>
    </div>

    <hr>

    <h1>
      Total : 
      <span>{{ getGrandTotal() | currency:'INR' }}</span>
    </h1>

    <div class="button-group">
      <button class="pay" [disabled]="cartItems.length === 0" (click)="pay()">Pay</button>
      <button class="clear" [disabled]="cartItems.length === 0" (click)="clearCart()">Clear</button>
    </div>
  </div>
</div>

<footer>
  Copyrights &copy; 2017 Pizzeria. All rights reserved.
</footer>

