<div class="cart-container">

  <div class="cart-left">

    <h2 class="cart-heading">My Cart</h2>

    <div class="cart-item" *ngFor="let item of cartItems">

      <img class="pizza-image" [src]="item.pizza.image">

      <div class="pizza-type">  
      <img  [src]="getType(item.pizza)">
      </div> 

      <div class="details">

        <h4>{{ item.pizza.name }}</h4>

        <p>₹{{ item.pizza.price }}</p>

        <div class="ingredient-dropdown" *ngIf="item.extraIngredients.length">

            <button
            class="ingredient-btn"
            (click)="toggleIngredients(item)">

                Ingredients ▼

            </button>

            <ul *ngIf="expandedItem===item">

                <li *ngFor="let ing of item.extraIngredients">

                    {{ing.tname}}

                    {{ing.price | currency:'INR'}}

                </li>

            </ul>

        </div>

      </div>

      <div class="quantity">

        <button (click)="decrease(item)">-</button>

        <span>{{ item.quantity }}</span>

        <button (click)="increase(item)">+</button>

      </div>

      <div class="price">
        {{ getItemTotal(item) | currency:'INR' }}
      </div>

      <div>
         <img class="delete" (click)="remove(item)" src="../../assets/images/dustbin.png">    
      </div>

    </div>

    <div class="subtotal">
      <strong>
        Sub Total :
        {{ getSubTotal() | currency:'INR' }}
      </strong>
    </div>

  </div>


  <div class="summary">

    <h3>The total amount of</h3>

    <div>
      Pizza
      <span>{{ getPizzaTotal() | currency:'INR' }}</span>
    </div>

    <div>
      Ingredients
      <span>{{ getIngredientTotal() | currency:'INR' }}</span>
    </div>

    <hr>

    <h2>
      Total : 
      <span>{{ getGrandTotal() | currency:'INR' }}</span>
    </h2>

    <div class="button-group">

      <button
        class="pay"
        (click)="pay()">
        Pay
      </button>

      <button
        class="clear"
        (click)="clearCart()">
        Clear
      </button>

    </div>

  </div>

</div>