<div class="our-story-heading">
    <p>Our story</p>
</div>

<div class="our-story-content">
    <p>We believe in good. We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given situations where they had to come up with wacky and fun excuses. The person with the best excuse won the Best Excuse Badge and won Pizzeria's vouchers. Their enthusiastic response proved that Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza. Evert<br><br>

    Ever since we launched the Tastiest Pan Pizza, ever, people have not been able to resist the softest, cheesiest, crunchiest, butteriest Domino's Fresh Pan Pizza. They have been leaving the stage in the middle of a performance and even finding excuses to be disqualified in a football match.<br><br>

    We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given situations where they had to come up with wacky and fun excuses. The person with the best excuse won the Best Excuse Badge and won Domino's vouchers. Their enthusiastic response proved that Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza. Evert
    </p>
</div>

<div class="ingredients">
    <div class="ingredients-img">
        <img src="assets/images/ingredients.jpeg">
    </div>

    <div>
        <p class="ingredients-heading">Ingredients</p>
        <p class="ingredients-content">We're ruthless about goodness. We have no quaims about tearing up a day-old lettuce leaf (straight from the farm), or steaming a baby (carrot) Cut. Cut Chop Chop. Steam, Steam. Stir Stir. While they're stil young and fresh that's our motto it makes the kitchen a better place.</p>
    </div>
</div>

<div class="our-chefs">
    <div>
        <p class="our-chefs-heading">Our Chefs</p>
        <p class="our-chefs-content">They make sauces sing and salads dance. They create magic with skill knowledge, passion, and stirring spoons (among other things). They make goodness so good, it doesn't know what to do with itselt. We do though. We send it to you.</p>
    </div>

    <div class="our-chefs-img">
        <img src="assets/images/chef.jpeg">
    </div>
</div>

<div class="delivery">
    <div class="delivery-img">
        <img src="assets/images/delivery.jpeg">
    </div>

    <div>
        <p class="delivery-heading">45 min delivery</p>
    </div>
</div>